<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Admin page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .block-left {
            width: 20%;
            float: left;
        }

        .block-right {
            width: 80%;
            float: right;
        }
    </style>
</head>
<body>

<nav class="p-0 navbar navbar-expand navbar-dark bg-dark mb-3">
    <div class="container-fluid">
  <span class="navbar-brand">
    <b> <span class="align-middle" id="adminName"></span></b>
            <span class="align-middle">with roles:</span>
      <span class="align-middle" id="adminRoles"></span>
  </span>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<div class="block-left">
    <div class="list-group">
        <a class="list-group-item list-group-item-action active" aria-current="true">Admin</a>
        <a href="/user" class="list-group-item list-group-item-action">User</a>
    </div>
</div>


<div class="block-right">
    <div class="container-fluid bg-color-secondary">
        <div class="row">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <h2>Admin panel</h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="admin-nav-bar" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="users-tab" data-bs-toggle="tab"
                                   role="tab" href="#users"
                                   aria-controls="users" aria-selected="true">Users table</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="new-user-tab" data-bs-toggle="tab"
                                   role="tab" href="#newUser"
                                   aria-controls="new-user" aria-selected="false">New user</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="users" role="tabpanel"
                                 aria-labelledby="home-tab">

                                <div class="row">
                                    <div class="container border border-secondary border-opacity-10">
                                        <div class="row">
                                            <div class="col-12 border border-secondary border-opacity-25 bg-opacity-10 bg-secondary">
                                                <h5>All users</h5>
                                            </div>
                                            <div class="container text-center gy-3">
                                                <table class="table border border-top">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Username</th>
                                                        <th>Age</th>
                                                        <th>Position</th>
                                                        <th>Roles</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="bodyUsersTable"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row justify-content-center text-center">
                                    <div class="col-4" id="newUserTab">
                                        <form id="formNew">
                                            <div class="mb-2">
                                                <label for="usernameNew" class="form-label">Username</label>
                                                <input type="text" class="form-control" name="username"
                                                       autocomplete="username"
                                                       id="usernameNew" minlength="2"
                                                       maxlength="25" required>
                                            </div>
                                            <div class="mb-2">
                                                <label for="ageNew" class="form-label">Age</label>
                                                <input type="number" step="1" min="18" max="100" value="18"
                                                       class="form-control" name="age" id="ageNew" required>
                                            </div>
                                            <div class="mb-2">
                                                <label for="positionNew" class="form-label">Position</label>
                                                <input type="text" class="form-control" name="position"
                                                       maxlength="25"
                                                       id="positionNew">
                                            </div>
                                            <div class="mb-2">
                                                <label for="passwordNew" class="form-label">Password</label>
                                                <input type="password" class="form-control" name="password"
                                                       autocomplete="new-password"
                                                       maxlength="20"
                                                       id="passwordNew" required>
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label">Role</label>
                                                <select class="form-select" name="roles"
                                                        id="rolesNew"
                                                        aria-label="select role" required>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success" id="confirmNew">Add new user</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
        <div class="modal fade" id="toggleModalEdit" tabindex="-1" data-bs-backdrop="static" aria-labelledby="modalLabelEdit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabelEdit">Edit user</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#toggleModalEdit" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center text-center">
                            <div class="col-5">
                                <form id="formEdit">
                                <div class="mb-2">
                                    <label for="idEdit" class="form-label">ID</label>
                                    <input type="text" class="form-control-plaintext" name="id" id="idEdit" value=""
                                           readonly/>
                                </div>
                                <div class="mb-2">
                                    <label for="usernameEdit" class="form-label">Username</label>
                                    <input type="text"
                                           class="form-control"
                                           name="username"
                                           autocomplete="username"
                                           id="usernameEdit"
                                           minlength="2"
                                           maxlength="25"
                                           value=""
                                           required
                                    />
                                </div>
                                <div class="mb-2">
                                    <label for="ageEdit"
                                           class="form-label">Age</label>
                                    <input type="number"
                                           step="1"
                                           min="18"
                                           max="100"
                                           class="form-control"
                                           name="age"
                                           id="ageEdit"
                                           value=""
                                           required
                                    />
                                </div>
                                <div class="mb-2">
                                    <label for="positionEdit" class="form-label">Position</label>
                                    <input type="text"
                                           class="form-control"
                                           name="position"
                                           id="positionEdit"
                                           maxlength="25"
                                           value=""
                                    />
                                </div>
                                <div class="mb-2">
                                    <label for="passwordEdit" class="form-label">Password</label>
                                    <input type="password"
                                           autocomplete="current-password"
                                           class="form-control"
                                           name="password"
                                           maxlength="20"
                                           id="passwordEdit"
                                           required
                                    />
                                </div>
                                <div class="mb-2">
                                    <label class="form-label">Role</label>
                                    <select class="form-select" id="rolesEdit" name="roles" aria-label="select role" required>
                                    </select>
                                </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#toggleModalEdit">Close</button>
                                <button type="submit" class="btn btn-primary" id="confirmModalEdit">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="modal fade" id="toggleModalDelete" tabindex="-1" aria-labelledby="modalLabelDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabelDelete">Edit user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#toggleModalDelete" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="row justify-content-center text-center">
                        <div class="col-5">
                            <form id="formDelete">
                            <div class="mb-2">
                                <label for="id-delete"
                                       class="form-label">ID</label>
                                <input type="text"
                                       class="form-control"
                                       name="id"
                                       id="id-delete"
                                       value=""
                                       readonly
                                />
                            </div>
                            <div class="mb-2">
                                <label for="username-delete"
                                       class="form-label">Username</label>
                                <input type="text"
                                       class="form-control"
                                       name="username"
                                       id="username-delete"
                                       value=""
                                       readonly
                                />
                            </div>
                            <div class="mb-2">
                                <label for="age-delete"
                                       class="form-label">Age</label>
                                <input type="text"
                                       class="form-control"
                                       name="age"
                                       id="age-delete"
                                       value=""
                                       readonly
                                />
                            </div>
                            <div class="mb-2">
                                <label for="position-delete"
                                       class="form-label">Position</label>
                                <input type="text"
                                       class="form-control"
                                       name="position"
                                       id="position-delete"
                                       value=""
                                       readonly
                                />
                            </div>
                                <div class="mb-2">
                                    <label class="form-label">Role</label>
                                    <select class="form-select" name="roles" aria-label="select role" disabled>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#toggleModalDelete">Close</button>
                            <button type="submit" class="btn btn-danger" id="confirmModalDelete">Delete</button>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>

<script src="webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
<script src="webjars/jquery/3.6.3/dist/jquery.js"></script>
<script type="application/javascript" src="js/admin.js"></script>
</body>
</html>